name: Compile & Release

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Upload to Maven
        run: ./gradlew publish
        env:
          MAVEN_PASS: ${{ secrets.MAVEN_PASS }}